.login-page {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;


  @include respond(tab-land) {
    grid-template-columns: minmax(35rem, min-content);
    &__showcase {
      display: none;
    }
  }

  @include respond(phone) {
    grid-template-columns: 100%;
    padding: 0 4rem;
  }
}

.login-card-container {
  & > :not(:last-child) {
    margin-bottom: 1rem;
  }
}
